DATABASE_URL=postgresql+asyncpg://admin:123@localhost:5433/unik
SECRET_KEY=change_me
DEBUG=True
DEFAULT_ADMISSIONS_LOGIN=admin@unik.edu
DEFAULT_ADMISSIONS_PASSWORD=admin
DEFAULT_ANALYST_LOGIN=prepod@unik.edu
DEFAULT_ANALYST_PASSWORD=123456
